{% extends "base.html" %}

{% block title %}
    {% if article %}
        {{ article.title|safe }}
    {% else %}
        Blog
    {% endif %}
{% endblock %}

{% block content %}
    <div class="article-display">
        {% if article %}
            <!-- Use the 'safe' filter if your content contains HTML that should not be escaped -->
            {{ article.content|safe }}
        {% else %}
            <p>Article not found. Sorry!</p>
        {% endif %}
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
{% endblock %}
